anyjson==0.3.3
bootstrap-py==0.8.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.6
django-filter==2.2.0
djangorestframework==3.10.3
get==2019.4.13
gunicorn==20.0.4
imagesize==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.2
Pillow==6.2.1
post==2019.4.13
product==0.1.1.1
psycopg2==2.8.4
request==2019.4.13
requests==2.22.0
transliterate==1.10.2
urllib3==1.26.5